h1 {
    margin: 10px 0px 0px 411px;
    font-size: 100px;
}
.pierdes {
    margin: 10px 0px 0px 600px;
    font-size: 40px;
}
.malo {
    margin: 10px 0px 0px 428px;
    font-size: 20px;
}
.imagen {
    margin: 20px 0px 0px 472px;
    background-image: url("mijuegoDavid original/img/giphy.gif");
    width: 495px;
    height: 288px;
}
.inicio {
    margin: 30px 0px 0px 350px;
}