canvas {
    border: solid white;
    margin: 110px 0px 0px 95px;
}
body {
    background: url("mijuegoDavid original/img/fondo.jpg");
    background-size: cover;
} 
.inicia {
    margin: -540px 0px 0 1045px;
}